@font-face {
	font-family: Aller;
	font-weight: normal;
	src: url('fonts/Aller_Rg.ttf');
}
@font-face {
	font-family: Aller;
	font-weight: bold;
	src: url('fonts/Aller_Bd.ttf');
}

body {
	font-family: Aller, sans-serif;
	margin: 0;
	padding: 0;
	background: url(images/stripes.png);
}


h1 {
	margin-top: 0;
}
.chest_header {
	margin-top: 0;
	font-size: 150%;
	font-weight: bold;
}
h1, .chest_header {
	color: #1D4088;
	/*color: #9342ad;*/
	/*color: #dbda00;*/
	/*text-shadow: #aaa 1.5px 1.5px 0px;*/
}

#header a {
	color: #fff;
}

a, a:visited a:active {
	text-decoration: none;
	color: #0000aa;
}
a:hover {
	text-decoration: underline;
	color: #434358;
}

#wrapper {
	margin: 0;
	/*background-color: #dadada;*/
}
#header {
	/*border-bottom: 2px solid #777;*/
	color: #fff;
	padding: 1em 1.5em .3em 1em;
	font-weight: bold;
}
#headertable {
	width: 100%;
}
#headertable td {
	width: 33%;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}

#page_content {
	margin: 0 8em;
	padding: 1em;
	padding-bottom: 2em;
	background-color: #fff;

	-moz-border-radius-bottomleft: 1.5em;
	-webkit-bottom-left-border-radius: 1.5em;
	border-bottom-left-radius: 1.5em;

	-moz-border-radius-bottomright: 1.5em;
	-webkit-border-bottom-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;

	-webkit-box-shadow: 0 0 2em #bbb;
	-moz-box-shadow: 0 0 2em #bbb;
	box-shadow: 0 0 2em #bbb;

	margin-bottom: 3em;
}
#right_content {
	/*background-color: #eaeaea;
	border: .3em solid #ddd;*/
	padding: 1em 2em;
	text-align: center;
	float: right;
}
#left_content {
	padding: .5em 0em;
}
img#treasure_chest {
	width: 10em;
}
#room_box_container a:hover {
	text-decoration: none;
}

#room_box_container {
	width: 27em;
	height: 27em;
}
#room_box_container p {
	color: #fff;
	text-decoration: none;
}
#addition_box {
	background-color: #76ce76;
	border: .5em solid #60a860;
}
#subtraction_box {
	background-color: #dddd51;
	border: .5em solid #c2c247;
	float: right;
}
#multiplication_box {
	margin-top: 1em;
	background-color: #eca657;
	border: .5em solid #c28847;
}
#division_box {
	margin-top: 1em;
	background-color: #ec5757;
	border: .5em solid #c94a4a;
	float: right;
}
.room_box {
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	width: 12em;
	height: 12em;
}
.room_sign {
	/*margin-top: -.1em;*/
	text-align: center;
	font-weight: bold;
	font-size: 10em;
	color: #fff;
}
.room_sign a {
	color: inherit;
	text-decoration: none;
}
.gold_coins {
	padding-bottom: .4em;
	padding-left: .5em;
	padding-right: .5em;
	background-color: #e5e5e5;

	-moz-border-radius: .7em;
 	-webkit-border-radius: .7em;
	border-radius: .7em;
}
.gold_text {
	vertical-align: bottom;
	font-size: 140%;
	color: #ff0;
	font-weight: bold;
	text-shadow: #000 0 0 5px;
}
#logout_reminder {
	font-size: 150%;
	color: #4b844b;
}
.simple_button {
	cursor: pointer;
	padding: .7em;
	background-color: #627AAD;
	color: #fff;
	font-weight: bold;

	/*-webkit-box-shadow: 0 0 2em #bbb;
	-moz-box-shadow: 0 0 2em #bbb;
	box-shadow: 0 0 2em #bbb;*/

	-moz-border-radius: .7em;
 	-webkit-border-radius: .7em;
	border-radius: .7em;
}
.back_button {
	margin-top: 4em;
}
