#correct_answer {
	background-color: #afa;
}
#wrong_answer {
	background-color: #fcc;
}
#empty_answer {
	background-color: #fbfbb2;
}
#correct_answer, #wrong_answer, #empty_answer {
	display: none;
	padding: .3em;
	-moz-border-radius: .3em;
 	-webkit-border-radius: .3em;
	border-radius: .3em;
}
#question_text {
	font-size: 1.5em;
}
#finished_wrapper {
	display: none;
}

input[name=answer] {
	font-size: 1.5em;
	padding: .5em;
	border: .2em solid #325193;
	background-color: #f2f2f2;
	margin: .5em 0;

	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;

	-text-shadow: #bbb 1px 1px 3px;

	-webkit-box-shadow: 0 0 .7em #bbb;
	-moz-box-shadow: 0 0 .7em #bbb;
	box-shadow: 0 0 .7em #bbb;
}
#hintbear {
	cursor: pointer;
	float: right;
	position: relative;

	display: none;
	opacity: 0;
	margin-right: -7em;
	width: 20em;
	text-align: right;
}
#hintbear img {
	width: 10em;
}
#hintbear .dialogbox {
	display: none;
	position: absolute;
	left: 0em;
	top: 0em;
	max-width: 15em;
	text-align: left;

	padding: .5em;
	border: .2em solid #000;
	background-color: #fff;
	-webkit-box-shadow: 0 0 1em #888;
	-moz-box-shadow: 0 0 1em #888;
	box-shadow: 0 0 1em #888;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
