{% extends "outer.html" %}
{% block content %}
<div id="right_content">
	<p class="chest_header">Skattekiste</p>
	<img id="treasure_chest" src="/media/images/treasurechest.png" alt="skattekiste" />
	<p class="gold_coins">Du har <span class="gold_text"> {{ user.get_profile.points }} </span> gullmynter</p>
</div>
<div id="left_content">
<h1>Velg ditt rom</h1>
	<div id="room_box_container">
		<a href="/room/2/"><div id="subtraction_box" class="room_box"><div class="room_sign">&minus;</div></div></a>
		<a href="/room/1/"><div id="addition_box" class="room_box"><div class="room_sign">+</div></div></a>
		<a href="/room/4/"><div id="division_box" class="room_box"><div class="room_sign">&divide;</div></div></a>
		<a href="/room/3/"><div id="multiplication_box" class="room_box"><div class="room_sign">&times;</div></div></a>
	</div>
</div>

<p id="logout_reminder">Husk &aring; <a href="/logout">avslutte spillet</a> n&aring;r du er ferdig!</p>
{% endblock %}
