{% include "inc/before.html" %}
<div id="right_content">
	<p class="chest_header">Skattekiste</p>
	<img id="treasure_chest" src="/media/images/treasurechest.png" alt="skattekiste" />
	<p>Du har <span class="gold_text">34</span> gullmynter</p>
</div>
<div id="left_content">
<h1>Velg ditt rom</h1>
	<div id="room_box_container">
		<div id="subtraction_box" class="room_box"><div class="room_sign">&minus;</div></div>
		<div id="addition_box" class="room_box"><div class="room_sign">+</div></div>
		<div id="division_box" class="room_box"><div class="room_sign">&divide;</div></div>
		<div id="multiplication_box" class="room_box"><div class="room_sign">&times;</div></div>
	</div>
</div>

<p id="logout_reminder">Husk &aring; <a href="/logout">avslutte spillet</a> n&aring;r du er ferdig!</p>
{% include "inc/after.html" %}