{% extends "outer.html" %}

{% block head %}
<style type="text/css">
</style>
<script src="/media/question.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<h1>Sp&oslash;rsm&aring;l {{ result.index }} av {{ num_questions }}</h1>

<p>{{ result.question.question}}</p>

<form action="question" method="post">
	<input type="text" name="answer" />
	<p class="start_button_container"><span class="simple_button">Send svar / neste sp&oslash;rsm&aring;l</span></p></p>
</form>

<p class="back_button"><a href="/room/{{ room_id }}/">G&aring; tilbake til rommet</a></p>
{% endblock %}
