{% extends "outer.html" %}

{% block head %}
<style type="text/css">
#correct_answer {
	background-color: #afa;
}
#wrong_answer {
	background-color: #fcc;
}
#correct_answer, #wrong_answer {
	display: none;
	padding: .3em;
	-moz-border-radius: .3em;
 	-webkit-border-radius: .3em;
	border-radius: .3em;
}
#question_text {
	font-size: 1.5em;
}
#finished_wrapper {
	display: none;
}
input[name=answer] {
	font-size: 1.5em;
	padding: .5em;
	border: .2em solid #325193;
	background-color: #f2f2f2;
	margin: .5em 0;

	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;

	-text-shadow: #bbb 1px 1px 3px;

	-webkit-box-shadow: 0 0 .7em #bbb;
	-moz-box-shadow: 0 0 .7em #bbb;
	box-shadow: 0 0 .7em #bbb;
}
</style>
<script src="/media/question.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<h1>Sp&oslash;rsm&aring;l <span id="question_index">{{ result.index }}</span> av {{ num_questions }}</h1>

<p id="correct_answer">Du svarte riktig p&aring; forrige oppgave.</p>
<p id="wrong_answer">Feil svar p&aring; forrige oppgave.</p>

<div id="question_wrapper">
<p id="question_text">{{ result.question.question}}</p>

<form id="answer_form" action="" method="post">
	<input type="text" name="answer" autocomplete="off" />
	<p class="start_button_container"><span class="start_button simple_button">Svar</span></p></p>
</form>

<p class="back_button"><a href="/room/{{ room_id }}/">G&aring; tilbake til rommet</a></p>
</div>

<div id="finished_wrapper">
	<p>Du er ferdig med dette fors&oslash;ket!</p>
	<p class="start_button_container"><span class="simple_button"><a href="/room/{{ room_id }}/">Tilbake til rommet!</a></span></p>
</div>
{% endblock %}
